@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.menu a {
    color: #727272;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: #eee;
    transition: 3s;
}

.menu>li>a {
    display: block;
    padding: 10px;
    background-color: #eee;
}

.menu>li>a::after {
    content: 'v';
}

.menu>li>a.active::after {
    content: '^';
}

.menu>li>ul a {
    padding: 10px;
    display: block;
    background-color: #727272;
}

.menu a:hover {
    opacity: 0.7;
}

.menu ul {
    display: none;
}

.menu ul.active {
    display: block;
}

.menu {
    max-width: 100px;
    width: 100%;
    margin: 50px auto;
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
}
