@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオン メニュー */
.menu {
    position: absolute;
    left: 80%;
    top: 0;
    width: 20%;
}

.drawer-list {
    display: none;
    font-size: 15px;
}

.menu>a::after {
    content: 'v';
    font-size: 50px;
    /* transform: rotate(90deg); */
}

.menu>a.active::after {
    content: '^';
    font-size: 50px;
    /* transform: rotate(-90deg); */
}

/* ボタン */
.btn {
    display: inline-block;
    background: #186AC9;
    /* 背景色 */
    color: #fff;
    /* 文字色 */
    padding: 10px 15px;
    /* 上下の余白、左右の余白 */
    text-decoration: none;
    /* デフォルトで入るリンクの下線を消す */
    border-radius: 10px;
    /* 角を丸くする */
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    /* ホバーエフェクト */
}

button {
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    cursor: pointer;
    transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

button img {
    display: block;
}

.btn-success {
    width: 30px;
}

/* ホバーエフェクト */
.btn:hover {
    opacity: .7;
}

.btn-success {
    padding: 10px 15px;
}
